<%# Must pass in:
{   songlist: [{title, artist, categoryId, categoryName, keyId, keyName, lastPlayedDate, lastPlayedDateReadable, notes}]
    search: string,
    archive: boolean,
}
%>
<% var viewDirRoot = '../'; %>
<% var titleLabel = archive ? 'Archived Songs' : 'Songs'; %>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(viewDirRoot + 'partials/stdhead', {title: `${titleLabel} : ${band.name} `}) %>
    <%- include('./partials/songhead') %>


</head>

<body>

    <%- include(viewDirRoot + 'partials/navbar', {breadcrumbs : [{href: `/band/${band.band_id}/`, text: band.name}, 
                                                      {href: `/band/${band.band_id}/song/${archive ? "archive" : "list"}`, text: titleLabel}
                                                      ]}) %>

    <!-- Actual page content! -->
    <div class="container">
        <div class="section row valign-wrapper" id="title">

        <h2 class="col s8"><%=titleLabel %>:</h2>

        <% if (archive) { %>

            <a class="col s4 waves-effect waves-light btn-small modal-trigger blue right" href="/band/<%=band.band_id%>/song/list"> 
                <i class="material-icons right">library_music</i>Unarchived Songs</a>
        
        <% } else { %>

            <a class="col s4 waves-effect waves-light btn-small modal-trigger grey right" href="/band/<%=band.band_id%>/song/archive"> 
                <i class="material-icons right">archive</i>Archived Songs</a>

        <% } %>
            </div>
                
    
            <div class="section" id="songlist">
                <form  method="get">
                    <div class="row center-align">
                        <div class="input-field">
                          <i class="material-icons prefix">search</i>
                          <input id="searchBar" type="text" name="search" class="validate" value="<%=locals.search%>">
                          <label for="searchBar">Search <%= band.name %>'s <%=titleLabel %>: (By Title, Artist, and Tags)</label>
                        </div>

                    </div>
    
                </form>

                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Artist</th>
                            <th>Tags</th>
                            <th>Key</th>
                            <th>Tempo</th>
                            <th>Most Recent Set</th>
                            <% if (band.member.role=='owner' || band.member.role=='core' ) { %>
                                <th class="no-sort">                    
                                </th>
                            <% } %>
                        </tr>
                
                    </thead>
                    <tbody>
                        <% for (song of songlist) { %>
                        <tr>
                            <td> 
                                <a href="/band/<%= band.band_id %>/song/<%= song.song_id %>">
                                    <%= song.title %> 
                                </a> 
                            </td>
                            <td><%= song.artist %></td>
                            <td data-sort="<%=song.tags%>">  <div class="chips tags readonly no-autoinit" data-tags="<%=song.tags%>"></div></td>
                            <td><%= song.key%></td>
                            <td><%= song.tempo %></td>
                            <td data-sort="<%= song.lastPlayedDate %>"><a href="/set/<%= song.set_id %>"><%= song.recent_set %> - <%= song.lastPlayedDateReadable %></a></td>
                            <% if (band.member.role=='owner' || band.member.role=='core' ) { %>


                            <td>
                                <% if (archive) { %>
    
                                <form class="right" method="post" display="inline"
                                    action="/band/<%=band.band_id%>/song/<%=song.song_id%>"
                                >

                                    <input type="hidden" name="method" value="unarchive">

                                    <button class="btn-small waves-effect waves-light green" type="submit">
                                        <i class="material-icons right">unarchive</i>
                                        Unarchive
                                    </button>
                                </form>

                                <form class="confirm-submit right" method="post" display="inline"
                                    action="/band/<%=band.band_id%>/song/<%=song.song_id%>"
                                    data-confirm-msg='Confirm that you want to delete this song by retyping "<%=song.title%>":'
                                    data-require-retype="<%=song.title%>">

                                    <input type="hidden" name="method" value="delete">

                                    <button class="btn-small waves-effect waves-light red" type="submit">
                                        <i class="material-icons right">delete</i>
                                        Delete
                                    </button>
                                </form>
                                <% } else { %>

                                    <form class="right" method="post" display="inline"
                                    action="/band/<%=band.band_id%>/song/<%=song.song_id%>"
                                >

                                    <input type="hidden" name="method" value="archive">

                                    <button class="btn-small waves-effect waves-light grey" type="submit">
                                        <i class="material-icons right">archive</i>
                                        Archive
                                    </button>
                                </form>
                                <% } %>

                            </td>
                            <% } %>

                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>

            <% if (!archive && (band.member.role=='owner' || band.member.role=='core' )) { %>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light orange modal-trigger <%= songlist.length < 2 ? 'pulse' : '' %>" 
                href="#createsong"><i class="material-icons">add</i></a>
            </div>

            <div class="modal" id="createsong">
    
                <div class="modal-content">
    
                    <form id="addSongForm" method="post">  
                        <h2>Add a new song:</h2>
                                        
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" id="titleInput" name="title" class="validate" data-length="45" required>
                                <label for="titleInput">Title:</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="text" id="artistInput" name="artist" class="validate" data-length="100">
                                <label for="artistInput">Artist:</label>
                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="input-field col s4">
                                <input type="text" id="keyInput" name="key" class="autocomplete key validate" data-length="30" >
                                <label for="keyInput">(Typical) Key:</label>
                            </div>
                    
                            <div class="input-field col s4">
                                <input type="text" id="tempoInput" name="tempo" class="validate" data-length="15" >
                                <label for="tempoInput">Tempo:</label>

                            </div>

                                
                            <div class="input-field col s4 chips tags no-autoinit">

                            </div>
                        </div>
                    
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea class="materialize-textarea" id="notesInput" name="notes"></textarea>
                                <label for="notesInput">Additional Notes:</label>
                            </div>
                        </div>
                    
                    </form>                    <!-- A section for the footer of the modal -->
                    <div class="modal-footer">
                        <!-- Since the submit button is not within the form, it must have the form attribute specified-->
                        <button class="btn waves-effect waves-light " type="submit" form="addSongForm">
                            <i class="material-icons right">send</i>
                            Submit New Song
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat" >Never Mind</button>
                    </div>
                    
                </div>
    
            </div>

            <% } %>
        </div>

        <%- include(viewDirRoot + 'partials/stdfoot') %>
        <%- include('./partials/songfoot') %>

</body>

</html>