<%# Must pass in:
- song: {title, count}
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/stdhead') %>


    <!-- Additional custom CSS -->
    <link rel="stylesheet" href="/stylesheets/assignmentsStyle.css">

</head>

<body>

    <%- include('../partials/navbar') %>
    
    <!-- Actual page content! -->
    <div class="container">

        <h1 class="center-align">Are you CERTAIN you want to delete <nobr><strong><%= song.title %></strong>?</nobr></h1>
        <h2 class="center-align">It will be removed from <%= song.count %> setlists.</h2>
        <div class="center-align">
            <%- include('../partials/postbutton', {formconfig : {url: `/songs/${song.songId}/delete`, 
                buttonText: "Yes, really delete", 
                buttonIcon: "warning", 
                buttonStyle: "btn-large waves-effect waves-light red",
                inline: false
            }}) %>
        </div>
        <h2 class="center-align">Alternatively, you can archive this song.</h2>

        <div class="center-align">
            <%- include('../partials/postbutton', {formconfig : {url: `/songs/${song.songId}/archive`, 
            buttonText: "Archive it instead.", 
            buttonIcon: "archive", 
            buttonStyle: "btn-large waves-effect waves-light blue",
            sendValue: 1,
            inline: false,
            }}) %>
        </div>

    </div>

    <%- include('../partials/stdfoot') %>

</body>

</html>