<%# Must pass in:
- (optional) user : {name, }
- (optional) breadcrumbs : [{href, text}]
%>

<!-- Nav bar -->
<header>
    <nav>
        <div class="nav-wrapper">
            <% if (locals.breadcrumbs) { %>
                <% for ( bc of breadcrumbs) { %>
                    <a href="<%=bc.href%>" class="breadcrumb"><%=bc.text%></a>
                <% } %>
            <% } else { %>
                <a href="/" class="brand-logo"> <i class="material-icons left">queue_music</i> SongSets</a>
            <% }  %>
            
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>

            <ul id="desktop-nav" class="right hide-on-med-and-down">
               
                <% if (locals.user) { %>
                    <li><a href="/band/list"><i class="material-icons left">group</i> Your Bands </a> </li>
                    <li><a href="/user/<%=user.user_id%>"><i class="material-icons left">account_circle</i> <%=user?.username || "New User (Click to set name)" %></a> </li>
                    <% if (user.privilege == "Admin") { %>
                        <li><a href="/user/list"><i class="material-icons left">view_list</i>  Manage Users</a></li>
                    <% } %>
                        
                    <li><a href="/logout" class="btn red">Logout</a></li>                        
                <% } else { %>
                    <li><a href="/login" class="btn blue">Login</a></li>
                <% } %>
            </ul>
        </div>
    </nav>

<ul id="mobile-nav" class="sidenav">

    <% if (user) { %>
            <li><a href="/band/list"><i class="material-icons left">group</i> Your Bands </a> </li>
            <li><a href="/user/<%=user.user_id%>"><i class="material-icons left">account_circle</i> <%=user?.username || "New User (Click to set name)" %></a> </li>
            <% if (user.privilege == "Admin") { %>
                <li><a href="/user/list"><i class="material-icons left">view_list</i> Manage Users</a></li>
            <% } %>
            <li><a href="/logout" class="btn red">Logout</a></li>        
        <% } else { %>
            <li><a href="/login" class="btn blue">Login</a></li>
        <% } %>
    </ul>
</header>