
<%# Must pass in:
- formconfig : {url, 
                buttonText, 
                (optional) buttonIcon = "send", 
                (optional) buttonStyle,
                (optional) inputName = 'val',
                (optional) inputValue = '',
                (optional) inline = false
            }
General purpose button that sends a POST request with an optional name-value input
%>

<form method="post" action="<%=formconfig.url%>" <% if(formconfig.inline) {%> class="inlineFormButton" <%}%> >   
    <button class="<%=formconfig?.buttonStyle%>" type="submit"
        name="<%=formconfig?.inputValue || 'val' %>" value="<%=formconfig?.inputValue%>">
        <i class="material-icons right"><%=formconfig?.buttonIcon || "send"%> </i>
        <%= formconfig?.buttonText %> 
    </button>
</form>
