<%# Must pass in:
- formconfig : {id, url, submitButton, (optional) category: {categoryId, categoryName, categoryDescription}}

Form for adding/updating song categories. Passing in a category prefills inputs, as if updating.
%>
<!-- Song Category form -->
<form id="<%=formconfig.id%>" method="post" action="<%=formconfig.url%>">  
    <% if(formconfig.category) { %>
        <h2> Edit "<%=category?.categoryName%>":</h2>
    <% } else { %> 
        <h2>Add a new category</h2>
    <% } %>

    <input type="hidden" name="categoryId" value="<%=formconfig.category?.categoryId%>">
    <div class="row">
        <div class="input-field col s12">
            <input type="text" id="categoryNameInput" name="categoryName" class="validate" data-length="32" required
            value="<%=formconfig.category?.categoryName%>">
            <label for="categoryNameInput">Category name:</label>
        </div>
    </div>

    <% if (formconfig.submitButton) { %> 
        <button class="btn waves-effect waves-light" type="submit">
            <i class="material-icons right">send</i>
            <%= formconfig.submitButton %> 
        </button>
    <% } %>
    
</form>
