
<%# Must pass in:
- formconfig : {id, url, submitButton,
                (optional) song: {songId, title, artist, notes, categoryId, keyId}}
- categorylist: [{categoryId, categoryName}]
- keylist: [{keyId, keyName}]

Form for adding/updating songs. Passing in a song prefills inputs, as if updating.
%>
<!-- Song form -->
<form id="<%=formconfig.id%>" method="post" action="<%=formconfig.url%>">  
    <% if(formconfig.song) { %>
        <h2> Edit "<%=formconfig.song?.title%>":</h2>
    <% } else { %> 
        <h2>Add a new song:</h2>
    <% } %>

    <input type="hidden" name="songId" value="<%=formconfig.song?.songId%>">

    <div class="row">
        <div class="input-field col s6">
            <input type="text" id="titleInput" name="title" class="validate" data-length="32" required
                value="<%=formconfig.song?.title%>">
            <label for="titleInput">Title:</label>
        </div>
        <div class="input-field col s6">
            <input type="text" id="artistInput" name="artist" class="validate" data-length="32"
                value="<%=formconfig.song?.artist%>">
            <label for="artistInput">Artist:</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s6">
            <select multiple id="categoryInput" name="categoryId" size="4">
                <% for (const cat of categorylist) { %>
                    <option value=<%=cat.categoryId %>
                        <% if (formconfig.song?.categoryId == cat.categoryId) { %> selected <% }%>
                        ><%= cat.categoryName %></option>
                <% } %>
            </select>
            <label for="categoryInput">Category:</label>
        </div>

        <div class="input-field col s6">
            <select id="keyInput" name="keyId" size="12">
                <option value="" selected>None</option>
                <% for (const key of keylist) { %>
                    <option value=<%=key.keyId %>
                        <% if (formconfig.song?.keyId == key.keyId ) { %> selected <% } %>
                        ><%= key.keyName %></option>
                <% } %>
            </select>
            <label for="keyInput">(Typical) Key:</label>
        </div>
    </div>

    <div class="row">
        <div class="input-field col s12">
            <textarea class="materialize-textarea" id="notesInput" name="notes"><%= formconfig.song?.notes %></textarea>
            <label for="notesInput">Additional Notes:</label>
        </div>
    </div>

    <% if (formconfig.submitButton) { %> 
    <button class="btn waves-effect waves-light" type="submit">
        <i class="material-icons right">send</i>
        <%= formconfig.submitButton %> 
    </button>
    <% } %>
</form>
