<%# Must pass in: 
{ member: {nickname, user_id, username, created_at, role} , 
  rolelist: [{role, descr}] ,
  TODO archive: OPTIONAL boolean } %>
<% var viewDirRoot = '../../'; %>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(viewDirRoot + 'partials/stdhead', {title: "Edit \"" + member.nickname + "\""}) %>

        <!-- Additional custom CSS -->
</head>

<body>

    <%- include(viewDirRoot + 'partials/navbar', {breadcrumbs : [{href: `/band/${band.band_id}/`, text: band.name}, 
                                                      {href: `/band/${band.band_id}/member/list`, text: 'Members'},
                                                      {href: `/band/${band.band_id}/member/${member.nickname}`, text: member.nickname}]}) %>

        <!-- Actual page content! -->
        <div class="container">
            <h2>Edit "<%=member.nickname%>":</h2>
            <% if (member.user_id == user.user_id) { %> 
                <blockquote>It seems you're editing your own membership! You can change your nickanme, but if you want to remove yourself, change your role, or change the username, 
                    you'll need another band member with 'owner' status to make those changes for you. 
                    If you're the only owner, promote another member to 'owner' status first.
                </blockquote>
            <% } %>
            <form id="updateMemberForm" method="post">
                <input type="hidden" name="method" value="update">

                <div class="input-field">
                    <input type="text" id="nicknameInput" name="nickname" class="validate"
                        data-length="40" maxlength="40" value="<%=member.nickname%>">
                    <label for="nicknameInput">Member's Nickname:</label>
                </div>

                <div class="input-field">
                    <input type="text" id="usernameInput" name="username" class="validate"
                        data-length="40" maxlength="40" value="<%=member.username%>" <% if (member.user_id == user.user_id) { %> disabled<% } %>>
                    <label for="usernameInput">Member's Username (optional, leave blank if no user):</label>
                </div>

                <div class="input-field">

                    <select id="roleInput" name="role" size="6"  <% if (member.user_id == user.user_id) { %> disabled <% } else { %> required <% } %>>
                            <% for (const r of rolelist) { %>
                                <option value=<%=r.role %> <% if (r.role == member.role) { %> selected <% } %>
                                    >"<%= r.role %>" : <%= r.descr %></option>
                                <% } %>
                    </select>

                    <label for="roleInput">Band Role:</label>
                </div>

            </form>




            <form id="deleteMemberForm" class="confirm-submit right" method="post" display="hidden"
                data-confirm-msg='Confirm that you want to remove this member from "<%=band.name%>" by retyping "<%=member.nickname%>":'
                data-require-retype="<%=member.nickname%>">

                <input type="hidden" name="method" value="delete">

            </form>

            <!-- Since the submit buttons are not within the forms, they must have the form attribute specified-->

            <button class="btn waves-effect waves-light " type="submit" form="updateMemberForm">
                <i class="material-icons right">send</i>
                Save Changes
            </button>

            <button class="btn waves-effect waves-light red right" type="submit"  form="deleteMemberForm" <% if (member.user_id == user.user_id) { %> disabled<% } %>>
                <i class="material-icons right">remove</i>
                Remove Member
            </button>


        </div>

        <%- include(viewDirRoot + 'partials/stdfoot') %>

</body>

</html>