<%# Must pass in: 
{ memberlist: [{nickname, user_id, username, created_at, role}] , 
  rolelist: [{role, descr}] ,
  TODO archive: OPTIONAL boolean } %>
<% var viewDirRoot = '../../'; %>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(viewDirRoot + 'partials/stdhead', {title: "Members of " + band.name}) %>
</head>

<body>

    <%- include(viewDirRoot + 'partials/navbar', {breadcrumbs : [{href: `/band/${band.band_id}/`, text: band.name}, 
                                                      {text: 'Members'}]}) %>

    <!-- Actual page content! -->
    <div class="container">
        
        <h3>
            <%=band.name%>
        </h3>

        <div class="section" id="memberlist">
            <table >
                <thead>
                    <tr>
                        <th>Nickname</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Member since</th>
                        <th ></th>
                    </tr>

                </thead>
                <tbody>

                    <% for (const member of memberlist) { %>

                        <!-- todo - MAKE THESE EDITABLE FORMS -->
                        <tr>
                            <td>
                                <%= member.nickname %>
                            </td>

                            <td>
                                <%= member.username %>
                            </td>
                            <td>
                                <%= member.role%>
                            </td>
                            <td>
                                <%= member.member_since_pretty %>
                            </td>


                            <td>
                                <% if (band?.member.role=='owner' ) { %>

                                    <a class="btn-small btn-floating waves-effect waves-light left tooltipped"
                                        href="/band/<%=band.band_id%>/member/<%=member.nickname%>"
                                        data-position="top" data-tooltip="Edit">
                                        <i class="material-icons right">edit</i>
                                    </a>

                                    <form class="confirm-submit right" method="post" display="inline"
                                        action="/band/<%=band.band_id%>/member/<%=member.nickname%>"
                                        data-confirm-msg='Confirm that you want to remove this band member by retyping "<%=member.nickname%>":'
                                        data-require-retype="<%=member.nickname%>">

                                        <input type="hidden" name="method" value="delete">

                                        <button class="btn-small btn-floating waves-effect waves-light red tooltipped" type="submit"
                                        data-position="top" data-tooltip="Remove">
                                            <i class="material-icons right">remove</i>
                                        </button>
                                    </form>
                                <% } %>

                            </td>

                        </tr>

                    <% } %>
                </tbody>
            </table>
        </div>

        <% if (band?.member.role=='owner' ) { %>

            <div class="fixed-action-btn">
                <a id="addMemberButton" class="btn btn-floating btn-large waves-effect waves-light orange modal-trigger <%= if (memberlist.length < 2) { %> pulse <%}%>"
                    href="#createmember"><i class="material-icons">group_add</i></a>
            </div>
            <% if (memberlist.length < 2) {%>
                <div class="tap-target no-autoinit" data-target="addMemberButton">
                    <div class="tap-target-content white-text">
                      <h5>Add member</h5>
                      <p>To add users, you'll need to know that user's <strong>username</strong>. But you can still create 
                        placeholder members and add their username later.</br>
                      </p>
                    </div>
                </div>
            <% } %>
            <div id="createmember" class="modal">
                <div class="modal-content">
                    <h3>Add new member:</h3>
                    <form id="createMemberForm" method="post">
                        <input type="hidden" name="method" value="create">

                        <div class="input-field">
                            <input type="text" id="nicknameInput" name="nickname" class="validate"
                                data-length="40" maxlength="40">
                            <label for="nicknameInput">Member's Nickname:</label>
                        </div>

                        <div class="input-field">
                            <input type="text" id="usernameInput" name="username" class="validate"
                                data-length="40" maxlength="40">
                            <label for="usernameInput">Member's Username (optional, can be added later):</label>
                        </div>

                        <div class="input-field">

                            <select id="roleInput" name="role" size="6" required>
                                    <% for (const r of rolelist) { %>
                                        <option value=<%=r.role %> selected>"<%= r.role %>" : <%= r.descr %></option>
                                        <% } %>
                            </select>

                            <label for="roleInput">Band Role: (can be changed later)</label>
                        </div>

                    </form>

                </div>

                <div class="modal-footer">

                    <button class="btn waves-effect waves-light " type="submit" form="createMemberForm">
                        <i class="material-icons right">add</i>
                        Add member
                    </button>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

        <% } %>


    </div>


    <%- include(viewDirRoot + 'partials/stdfoot') %>

</body>

</html>