<%# Must pass in:
{ categorylist: [{categoryId, categoryName}]
  , keylist: [{keyId, keyName}]
  , songlist: [{title, artist, categoryId, categoryName, keyId, keyName, lastPlayedDate, lastPlayedDateReadable, notes}]
  , listconfig]
}
%>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/stdhead') %>
</head>

<body>

    <%- include('../partials/navbar') %>

    <!-- Actual page content! -->
    <div class="container">
        <h2>Your Songs:</h2>

            <div class="section" id="controls">
                
                <a class="btn-large waves-effect waves-light orange left modal-trigger" href="#add">
                    <i class="material-icons right">add</i>
                    Add a New Song
                </a>

                <form action="/songs" method="get">
                    <div class="row center-align">
                        <div class="input-field col s9">
                          <i class="material-icons prefix">search</i>
                          <input id="searchBar" type="text" name="search" class="validate">
                          <label for="searchBar">Search: (Title, Artist, Notes...)</label>
                        </div>
                    </div>
                </form>
            </div>
    
    
            <div class="modal" id="add">
    
                <div class="modal-content">
    
                    <%-  include('partials/songform', {formconfig : {id:"addSongForm", url:'/songs', submitButton: false}
                                                         , categorylist, keylist}) %>
                    <!-- A section for the footer of the modal -->
                    <div class="modal-footer">
                        <!-- Since the submit button is not within the form, it must have the form attribute specified-->
                        <button class="btn waves-effect waves-light " type="submit" form="addSongForm">
                            <i class="material-icons right">send</i>
                            Submit New Song
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat" >Never Mind</button>
                    </div>
                    
                </div>
    
            </div>

            <div class="section" id="songlist">
                <%-  include('partials/songtable', {songlist} )%>
            </div>

        </div>

        <%- include('../partials/stdfoot') %>

</body>

</html>