<%# Must pass in:
{   setlists: [{name, date, descr}]
    search: string,
    archive: boolean,
}
%>
<% var viewDirRoot = '../'; %>
<% var isCoreMember = (band.member.role=='owner' || band.member.role=='core' ); %>
<% var promptSetlistCreation = !archive && (setlists.length == 0) && !locals?.search; %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(viewDirRoot + 'partials/stdhead', {title: `${archive ? "Archived Setlists" : "Setlists"} : ${band.name} `}) %>

    <!-- For the list of setlists -->
    <link rel="stylesheet" href="/stylesheets/listSortStyle.css">
    <link rel="stylesheet" href="/stylesheets/tagStyle.css">

    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>

</head>

<body>
        <%- include(viewDirRoot + 'partials/navbar', {breadcrumbs : 
            archive ? 
                [{href: `/band/${band.band_id}/`, text: band.name}, 
                    {href: `/band/${band.band_id}/setlist/all`, text: "Setlists"},
                    {href: `/band/${band.band_id}/setlist/archive`, text: "Archive"}]
                :
                [{href: `/band/${band.band_id}/`, text: band.name}, 
                    {href: `/band/${band.band_id}/setlist/all`, text: "Setlists"}]
        }) %>


    <!-- Actual page content! -->
    <div class="container">
        <div id="title">
            <h3><%=archive ? 'Setlist Archive:' : 'Setlists:'; %>
            <% if (archive) { %>

                    <a class="btn-flat" href="/band/<%=band.band_id%>/setlist/all"> 
                    View Un-Archived Setlists</a>
            
            <% } else { %>
                    <a class="btn-flat" href="/band/<%=band.band_id%>/setlist/archive"> 
                    View Archived Setlists</a>
            <% } %>
             </h3>
            <% if (promptSetlistCreation) { %>
                <blockquote >
                    Looks like your band doesn't have any setlists (yet). 
                    Click the <i class="material-icons">add_circle</i> in the bottom right to 
                    create a setlist. </br>
                </blockquote>

            <% } %>

        </div>
                
    
        <%-include('./partials/list.ejs', {allowEdit: isCoreMember}) %>

            <% if (!archive && isCoreMember) { %>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light orange modal-trigger <%= promptSetlistCreation ? 'pulse' : '' %>" 
                href="#createsetlist"><i class="material-icons">add</i></a>
            </div>

            <div class="modal" id="createsetlist">
    
                <div class="modal-content">
    
                    <form id="addSetlistForm" method="post">  
                        <h4>Add a new setlist:</h4>
                                        
                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" id="nameInput" name="name" class="validate" data-length="45" required>
                                <label for="nameInput">Name:</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="date" id="dateInput" name="date" class="validate">
                                <label for="artistInput">Date:</label>
                            </div>
                        </div>
                    
                        <div class="row">
                           <div class="input-field col s12">
                                        <textarea class="materialize-textarea" id="descrInput" name="descr"></textarea>
                                        <label for="descrInput">Description:</label>
                            </div>
                        </div>
                        
                    </form>                    

                    <div class="modal-footer">
                        <button class="btn waves-effect waves-light " type="submit" form="addSetlistForm">
                            <i class="material-icons right">send</i>
                            Create New Setlist
                        </button>
                        <button class="modal-close waves-effect waves-green btn-flat" >Never Mind</button>
                    </div>
                    
                </div>
    
            </div>

            <% } %>
        </div>

        <%- include(viewDirRoot + 'partials/stdfoot') %>
        <script src="/scripts/tagsInit.js"></script>
        <script src="/scripts/setlistListInit.js"></script>
        <script src="/scripts/collapsibleInit.js"></script>

</body>

</html>