<%# Must pass in:
- (optional) user : {name, }
- (optional) breadcrumbs : [{href, text}]
%>

<!-- Nav bar -->
<header>
    <nav class="top-nav">
        <div class="nav-wrapper">
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <a href="/" class="brand-logo">SongSets</a>
    
            <ul id="desktop-nav" class="right hide-on-med-and-down">
               
                <% if (locals.user) { %>
                    <% if (locals.band) { %>
                        <li><a href="/band/<%=band.band_id%>/setlist/all"><i class="material-icons left">queue_music</i> Sets</a></li>
                        <li><a href="/band/<%=band.band_id%>/song/all"><i class="material-icons left">library_music</i> Songs</a></li>
                    <% } %>
                    <li><a href="/band/list"><i class="material-icons left">account_circle</i><%=user.username%></a> </li>
                    <% if (user.privilege == "Admin") { %>
                        <li><a href="/user/list"><i class="material-icons left">view_list</i>  Manage Users</a></li>
                    <% } %>
                    <li><a href="/logout" class="btn-small red">Log out</a></li>                        
                <% } else { %>
                    <li><a href="/login" class="btn-small blue">Log in</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <% if (locals.breadcrumbs) { %>
    <nav class="breadcrumb-nav">
        <div class="nav-wrapper">
            <div class="col s12 truncate" >
                <a class="breadcrumb"></a>
                <% for ( bc of breadcrumbs) { %>
                    <a <% if (bc.href) { %> href="<%=bc.href%>" <%}%> class="breadcrumb">
                        <%=bc.text%>
                    </a>
                <% } %>
            </div>
        </div>
    </nav>
    <% }  %>    

<ul id="mobile-nav" class="sidenav">

    <% if (user) { %>
        <% if (locals.band) { %>
            <li><a href="/band/<%=band.band_id%>/setlist/all"><i class="material-icons left">queue_music</i> Sets</a></li>
            <li><a href="/band/<%=band.band_id%>/song/all"><i class="material-icons left">library_music</i> Songs</a></li>
        <% } %>
        <li><a href="/band/list"><i class="material-icons left">account_circle</i><%=user.username%></a> </li>
        <% if (user.privilege == "Admin") { %>
            <li><a href="/user/list"><i class="material-icons left">view_list</i> Manage Users</a></li>
        <% } %>
            <li><a href="/logout" class="btn red">Logout</a></li>        
        <% } else { %>
            <li><a href="/login" class="btn blue">Login</a></li>
        <% } %>
    </ul>
</header>