<%# Must pass in:
{   songlist: [{title, artist, categoryId, categoryName, keyId, keyName, lastPlayedDate, lastPlayedDateReadable, notes}]
    archive: boolean,
}
%>
<% var viewDirRoot = '../'; %>
<% var isCoreMember = (band.member.role=='owner' || band.member.role=='core' ); %>
<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(viewDirRoot + 'partials/stdhead', {title: `${archive ? "Archived Songs" : "Songs"} : ${band.name} `}) %>

    

    <!-- For the list of songs -->
    
    
</head>

<body>
        <%- include(viewDirRoot + 'partials/navbar', {breadcrumbs : 
            archive ? 
                [{href: `/band/${band.band_id}/`, text: band.name}, 
                    {href: `/band/${band.band_id}/song/all`, text: "Songs"},
                    {text: "Archive"}]
                :
                [{href: `/band/${band.band_id}/`, text: band.name}, 
                    {text: "Songs"}]
        }) %>


    <!-- Actual page content! -->
    <div class="container">
        <div id="title">
                <h3><%=archive ? 'Song Archive:' : 'Songs:'; %>
                    <% if (archive) { %>

                        <a class="btn-flat" href="/band/<%=band.band_id%>/song/all"> 
                        View Un-Archived Songs</a>
                    
                    <% } else { %>
                            <a class="btn-flat" href="/band/<%=band.band_id%>/song/archive"> 
                            View Archive</a>
                    <% } %>
                </h3>
            

                <% if (songlist.length == 0) { %>
                    <blockquote >
                        Looks like your band doesn't have any <% if (archive) { %> archived <% } %> songs (yet).
                    </blockquote>

                <% } else { %>

                    <%-include(viewDirRoot + 'song/partials/list.ejs', {allowEdit: isCoreMember, addToSetlist: false}) %>

                <% } %>

        </div>
            

            <% if (!archive && isCoreMember) { %>

                <%-include('./partials/createsong.ejs', {promptSongCreation : songlist.length == 0}) %>

            <% } %>
        </div>

        <%- include(viewDirRoot + 'partials/stdfoot') %>
        
        <script src="/scripts/keyAutocomplete.js"></script>
        <script src="/scripts/songListInit.js"></script>


</body>

</html>