<%# Must pass in: { bandlist: [{band_id, band_nickname}]} %>
<% var viewDirRoot = '../'; %>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(viewDirRoot + 'partials/stdhead', {title: "Your Bands"}) %>
</head>

<body>

    <%- include(viewDirRoot + 'partials/navbar') %>

        <!-- Actual page content! -->
        <div class="container">
            <h2>Your Bands:</h2>

            <div class="section" id="bandlist">
                    <blockquote>
                        <% if (!locals.user.username) { %>
                            Before you can create or join any bands, you need to set a username first. </br>
                            Click on the <i class="material-icons">account_circle</i> above to do so. </br>
                        <% } else { %>

                            <% if (bandlist.length == 0) { %>

                                Looks like you're not part of any bands (yet). 
                                Click the <i class="material-icons">add_circle</i> in the bottom right to 
                                create a band. </br>

                            <% } %>

                            If you want to join an existing band, tell an <strong>owner</strong> of the band to add you using your username "<strong><%=user.username%></strong>"  

                        <% } %>
                        
                    </blockquote>

                <table class="sortable">
                    <thead>
                        <tr>
                            <th>Band</th>
                            <th>Created On</th>
                            <th>Your Role</th>
                            <th class="no-sort"></th>
                        </tr>

                    </thead>
                    <tbody>
                        
                        <% for (const band of bandlist) { %>
                            <tr>
                                <td> <a href="/band/<%= band.band_id %>/">
                                        <%= band.name %>
                                    </a></td>
                                <td>
                                    <%= band.created_at %>
                                </td>
                                <td>
                                    <%= band.role%>
                                </td>
                                <td>
                                    <% if (band.role=='owner' ) { %>
                                        <form class="confirm-submit right" method="post" display="inline"
                                            action="./<%=band.band_id%>/"
                                            data-confirm-msg='Confirm that you want to delete this band by retyping "<%=band.name%>":'
                                            data-require-retype="<%=band.name%>">

                                            <input type="hidden" name="method" value="delete">

                                            <button class="btn-small waves-effect waves-light red" type="submit">
                                                <i class="material-icons right">delete</i>
                                                Delete Band
                                            </button>
                                        </form>
                                    <% } %>

                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>

            </div>

            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light orange modal-trigger <%= bandlist.length == 0 ? 'pulse' : '' %>" 
                    href="#createband"><i class="material-icons">add</i></a>
            </div>

            <div id="createband" class="modal">
                <div class="modal-content">
                    <h2>Create a new Band</h2>
                    <blockquote> You will have the role of <strong>owner</strong> in this band. You can add more members with various roles afterwards.</blockquote>
                    
                    <form id="createBandForm" method="post">
                        <input type="hidden" name="method" value="create">

                        <div class="input-field">
                            <input type="text" id="nameInput" name="name" class="validate" data-length="40"
                                maxlength="40">
                            <label for="nameInput">Band Name: (can be changed later)</label>
                        </div>

                        <div class="input-field">
                            <input type="text" id="nicknameInput" name="nickname" class="validate" data-length="40"
                                maxlength="40">
                            <label for="nicknameInput">Your nickname in this band: (can be changed later)</label>
                        </div>
                    </form>

                </div>

                <div class="modal-footer">

                    <button class="btn waves-effect waves-light " type="submit" form="createBandForm">
                        <i class="material-icons right">send</i>
                        Create Band
                    </button>
                    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
                </div>
            </div>

        </div>

        </div>

        <%- include(viewDirRoot + 'partials/stdfoot') %>

</body>

</html>