<%# Must pass in:
- band { name, member : {role}}
- setlist: {name, date_pretty, date_yyyymmdd, descr, archived,
            songs: []
            }
- songlist: []
%>

<!DOCTYPE html>
<html lang="en">
<% var viewDirRoot = '../'; %>
<% var isCoreMember = (band.member.role=='owner' || band.member.role=='core' ); %>
<% var promptSongCreation = isCoreMember && !setlist.archived && songlist.length == 0; %>
<% var allowEdit = isCoreMember && !setlist.archived %>

<head>
    <%- include(viewDirRoot + 'partials/stdhead', {title: `${setlist.name} : ${band.name} `}) %>

    
    
    <link rel="stylesheet" href="/stylesheets/setlistSongStyle.css">
    

    <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>

    <script src="/scripts/ejs.min.js"></script>

</head>

<body>

    <%- include(viewDirRoot + 'partials/navbar', {breadcrumbs : 
        setlist.archived ? 
            [{href: `/band/${band.band_id}/`, text: band.name}, 
                {href: `/band/${band.band_id}/setlist/all`, text: "Setlists"},
                {href: `/band/${band.band_id}/setlist/archive`, text: "Archive"},
                {text: setlist.name }]
            :
            [{href: `/band/${band.band_id}/`, text: band.name}, 
                {href: `/band/${band.band_id}/setlist/all`, text: "Setlists"},
                {text: setlist.name }]
    }) %>

    <% if (allowEdit)  { %>
    <ul class="tabs tabs-fixed-width">
        <li class="tab col s6 m6"><a href="#setlist">View / Edit Setlist</a></li>
        <li class="tab col s6 m6"><a <% if (setlist.songs == 0) { %> class="active" <%}%> href="#songlistContainer">Add Songs</a></li>
    </ul>

    <form id="deleteSetlistForm" class="confirm-submit right" method="post" display="hidden"
        data-confirm-msg='Confirm that you want to delete this setlist by retyping "<%=setlist.name%>":'
        data-require-retype="<%=setlist.name%>">
        <input type="hidden" name="method" value="delete">
        <% if (setlist.archived) { %>
        <input type="hidden" name="redirect" value="archive">
        <% } %>
    </form>

    <form id="archiveSetlistForm" method="post" display="hidden">
        <% if (setlist.archived) { %>
        <input type="hidden" name="redirect" value="archive">
        <% } %>
    </form>

    <% } %>

    <div class="container">
        
        <% if (isCoreMember) { %>

        <div class="modal" id="editsetlistdetails">


            <div class="modal-content">

                    <h4>Edit setlist details:</h4>

                    <form id="editSetlistDetailsForm" method="post">
                        <input type="hidden" name="method" value="update-details">

                        <div class="row">
                            <div class="input-field col s6">
                                <input type="text" id="nameInput" name="name" class="validate" data-length="45" required form="editSetlistDetailsForm"
                                value="<%=setlist.name%>">
                                <label for="nameInput">Name:</label>
                            </div>
                            <div class="input-field col s6">
                                <input type="date" id="dateInput" name="date" class="validate" form="editSetlistDetailsForm"
                                value="<%=setlist.date_yyyymmdd%>">
                                <label for="artistInput">Date:</label>
                            </div>
                        </div>
                    
                        <div class="row">
                        <div class="input-field col s12">
                                        <textarea class="materialize-textarea" id="descrInput" name="descr" form="editSetlistDetailsForm"><%=setlist.descr%></textarea>
                                        <label for="descrInput">Description:</label>
                            </div>
                        </div>
                    </form>
                
            </div>

            <div class="modal-footer">
                <button class="btn waves-effect waves-light " type="submit" form="editSetlistDetailsForm">
                    <i class="material-icons right">save</i>
                    Save Changes
                </button>
                <button class="modal-close waves-effect waves-green btn-flat" >Close</button>
            </div>

        </div>

        <% } %>

        <div id="setlist">
            <div class="section">
            <h4><%=setlist.name%>
                <% if (isCoreMember) { %>
                    <a class="btn-floating btn-small waves-effect waves-light orange modal-trigger tooltipped" 
                    data-tooltip="Edit Title / Date / Description" data-position="right"
                    href="#editsetlistdetails"><i class="material-icons">edit</i></a>
                    <span class="right">
                        <% if (setlist.archived) { %>
                            
                            <button class="confirm-submit btn-floating btn-large waves-effect waves-light green tooltipped" type="submit"
                                name="method" value="unarchive" form="archiveSetlistForm"
                                data-confirm-msg='Confirm that you want to UN-archive the setlist "<%=setlist.name%>":'
                                data-tooltip="Unarchive" data-position="top">
                                <i class="material-icons right">unarchive</i>
                            </button>
                        
                            <% } else { %>
        
                            <button class="confirm-submit btn-floating btn-large waves-effect waves-light grey tooltipped" type="submit"
                                name="method" value="archive" form="archiveSetlistForm"
                                data-confirm-msg='Confirm that you want to archive the setlist "<%=setlist.name%>":'
                                data-tooltip="Archive" data-position="top">
                                <i class="material-icons right">archive</i>
                            </button>
                        <% } %>
                        
                        
                            <button class="btn-floating btn-large waves-effect waves-light red tooltipped" type="submit"
                                form="deleteSetlistForm" data-tooltip="Delete" data-position="top">
                            <i class="material-icons right">delete</i>
                            </button>
                    </span>
                <% } %>
                
            </h4>
            <h5><%=setlist.date_pretty%></h5>
                    <h6><%=setlist.descr%></h6>
                    <label>Last updated: <%= setlist.updated_at_pretty%></label>
            <% if (setlist.archived && isCoreMember) { %>
                <blockquote>This setlist is archived, which means songs can't be added, removed, or changed until un-archived. 
                    <br>Click the green button above to un-archive.</blockquote>
            <% } %>
            </div>
            <form id="editSetlistSongForm" method="post">  
                <input type="hidden" name="method" value="update-songs">
                
                <ol  id="setlist-songs" class="collapsible expandable popout">
                        <li id="empty-message">
                            <blockquote>
                                This set doesn't have any songs. 
                                <% if (allowEdit) { %>                                
                                <br>    
                                Click the ADD SONGS Tab above to choose and add songs.
                                <br>
                                Afterwards, you can re-arrange the setlist and add notes to your songs.
                                <% } %>
                            </blockquote>
                        </li>
                    <% for (song of setlist.songs) { %>

                        <li data-title="<%= song.title %>" data-song-id="<%= song.song_id %>">
                            <input type="hidden" form="editSetlistSongForm" name="song_id" value="<%= song.song_id %>">
                            
                            <div class="collapsible-header valign-wrapper">
                                <% if (allowEdit) { %>                                
                                <i class="material-icons handle tooltipped" 
                                    data-tooltip="Drag to rearrange" data-position="left">drag_handle</i>
                                <% } else {%>
                                    <i class="material-icons">music_note</i>
                                <% } %>
                                <div class="ch-content">
                                    <strong class="blue-text text-darken-3 tooltipped" data-tooltip="Click to expand details" data-position="top">
                                        <%= song.title %>
                                    </strong>
                                    <% if (allowEdit || song.note) { %> 
                                    <input class="song-note" type="text" form="editSetlistSongForm" 
                                        name="note" maxlength=100 placeholder="Enter a performance note" value="<%=song.note%>" <%if (!allowEdit) {%> readonly <%}%> >
                                    <% } %>
                                </div>
                                <% if (allowEdit) { %>                                
                                <span class="badge tooltipped" data-tooltip="Remove" data-position="top">
                                    <i class="material-icons red-text remove-song" >delete</i>
                                </span>
                                <% } %>
                            </div>
                            <div class="collapsible-body">
                                
                                Title: <a href="/band/<%= band.band_id %>/song/<%= song.song_id %>" 
                                    class="tooltipped" data-tooltip="<%= allowEdit ? 'Edit' : 'View' %> song details" data-position="top">
                                    <%= song.title %>
                                </a>
                                <br>Artist: <strong><%= song.artist%></strong>
                                <br>(Typical) Key: <strong><%=song.key%></strong> 
                                <br>Tempo: <strong><%=song.tempo%></strong>
                                <br>Last Played: <strong>
                                    <span><%= song.last_played_pretty %></span> 
                                </strong>
                                <br>Tags: <div class="chips tags readonly no-autoinit">
                                    <% for (tag of song.tags.split(",")) {
                                        if (tag != '') {%>
                                            <div class="chip"><%=tag%></div>
                                    <%}}%>
                                    </div>

                                
                            </div>
                        </li>
                    <% } %>
                </ol>             
            </form>
        </div>      

        <% if (allowEdit) { %>

            <div id="songlistContainer">
                <% if (songlist.length == 0) { %>
                    <blockquote >
                        Looks like your band doesn't have any songs (yet).
                    </blockquote>
                <% } else { %>
                    <%-include(viewDirRoot + 'song/partials/list.ejs', {allowEdit: false, addToSetlist: true}) %>
                <% } %>
                <%-include(viewDirRoot + 'song//partials/createsong.ejs', {promptSongCreation}) %>
            </div>
        <% } %>

    </div>
    

    <%- include('../partials/stdfoot') %>
    
    <script src="/scripts/songListInit.js"></script>
    <script src="/scripts/collapsibleInit.js"></script>
    <% if (allowEdit) {%>
        <script src="/scripts/setlistSongSortableAddDelete.js"></script>
    <% } %>

</body>

</html>